<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Cliente</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">Dashboard</a></li>
                            <li class="active">Cliente</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row m-0">
                            <div class="col-sm-9">
                                <strong class="card-title">Listado de clientes</strong>
                            </div>
                            <div class="col-sm-3">
                                <div class="float-right">
                                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#modal-form-cliente">Nuevo Cliente</button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm" id="btnListCliente">Listado</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="listCliente">
                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Número de documento</th>
                                        <th>Tipo de documento</th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (customers.status == 404) { %>
                                    <tr>
                                        <td colspan="5">No se encontraron registros</td>
                                    </tr>
                                    <% } else { %>
                                        <% customers.data.forEach(function(customer) { %>
                                            <tr>
                                                <td><%= customer.documentNumber %></td>
                                                <td><%= customer.typeDocument.abbreviation %></td>
                                                <td><%= customer.name %></td>
                                                <td>
                                                    <% if (customer.state) { %>
                                                        <i class="fa fa-check"></i>
                                                    <% } else { %>
                                                        <i class="tim-icons icon-simple-remove"></i>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0)" class="editCliente" data-id="<%= customer.id %>"><i class="fa fa-pencil"></i></a>
                                                    <a href="javascript:void(0)" class="deleteCliente" data-id="<%= customer.id %>"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Widgets -->
        <div class="modal fade" id="modal-form-cliente" tabindex="-1" role="dialog" aria-labelledby="modal-cliente" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-cliente">Nuevo cliente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="formCliente">
                            <input type="hidden" name="idCliente" id="idCliente"/>
                            <div class="form-group">
                                <label for="idTipoDocumento">Tipo de documento</label>
                                <select name="idTipoDocumento" id="idTipoDocumento" class="form-control">
                                    <% if(typeDocuments.status == 404) {%>
                                        <option value="0">Sin resultados</option>
                                    <% } else { %>
                                        <% typeDocuments.data.forEach(function(typeDocument) { %>
                                            <option value="<%= typeDocument.id %>"><%= typeDocument.abbreviation %></option>
                                        <% }) %>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="numeroDocumento">Número de RUC</label>
                                <input type="text" id="numeroDocumento" name="numeroDocumento" placeholder="20106339212" class="form-control form-control-sm">
                            </div>
                            <div class="form-group">
                                <label for="nombre">Razón Social</label>
                                <input type="text" id="nombre" name="nombre" placeholder="SOCIEDAD PERUANA S.A.C." class="form-control form-control-sm">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="guardarCliente">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    <!-- /#add-category -->
    </div>
    <!-- .animated -->
</div>
<!-- /.content -->